TSFollowerExample/slprj/
Simulation/obj/Debug
Simulation/Library/ShaderCache
Simulation/Library/ScriptAssemblies
Simulation/Library/metadata
Simulation/Assets/Logitech SDK
Simulation/Assets/Standard Assets
Simulation/Assets/LowPolyStreetPack
