Sumo Unity/obj/Debug
Sumo Unity/Library/ShaderCache
Sumo Unity/Library/ScriptAssemblies
Sumo Unity/Library/metadata
Sumo Unity/Assets/Logitech SDK
Sumo Unity/Assets/Standard Assets
Sumo Unity/Assets/LowPolyStreetPack
